
// General Styles
$background: rgb(255, 255, 255);

// Type Rules
$base-font: "Helvetica Neue", Helvetica, sans-serif;
$base-color: rgb(60, 60, 60);
$base-font-size: 14px;
$base-line-height: 20px;
$word-spacing: -0.01em;
$letter-spacing: 0.07em;

$link-color: $base-color;
$hover-color: lighten($link-color, 20%);
$active-color: $base-color;
$visited-color: $link-color;
$focus-color: $base-color;

$border-color: darken($background, 30%);
$ul-border: 1px dotted $border-color;


// Selection
$selected-background: rgb(240, 87, 83);
$selected-color: rgb(240, 240, 240);

// Transitions

$property : all;
$duration : 250ms;
$function : false;
$delay    : false;

@import "mixins";